= content_for :model_name, Announcement.name.underscore.to_sym
= javascript_include_tag "markdown"

= form_for @announcement do |f|
  = hidden_field_tag "#{@announceable.class.to_s.downcase}_id", "#{@announceable.id}"
  .form-group
    = f.label :name
    = f.text_field :name, placeholder: "Name", class: "form-control"
  - if current_holder.can? :edit, :homepage
    .form-group
      = f.label :slider_hidden, "Hide from frontpage slider"
      = f.check_box :slider_hidden
  - if !@announcement.content.blank? && current_user.super_admin
    .form-group
      = f.label :content, "OLD CONTENT"
      = f.text_area :content, rows: 10, class: "form-control", disabled: true
  .form-group
    = f.label :markdown
    ~ f.text_area :markdown, placeholder: "Content", rows: 10, class: "form-control markdown"
  = f.submit "Save", class: "btn btn-success pull-right", id: "submit-button"
