.page-wrapper
  %header.page-heading.clearfix
    %h1.heading-title.pull-left
      Announcements
      - if @announceable
        %small
          Posted under
          = link_to "#{@announceable.send("name") || "a #{@announceable.class.to_s.humanize}"}", @announceable
    = render partial: "partials/modtools", locals: {actions: @actions}
  .page-content
    .table-responsive
      %table.table
        %thead
          %tr
            %th
            - unless @announceable
              %th Posted Under
            %th Title
            %th Announcement
            %th Poster
            %th Posted
        %tbody.rankable
          - @announcements.each do |announcement|
            = content_tag_for(:tr, announcement) do
              %td
                - if @announceable && current_holder.can?(:edit, announcement)
                  %i.handle.fa.fa-sort{"aria-hidden" => "true"}
              - unless @announceable
                - announceable = announcement.announceable
                %td= link_to "#{announceable.send("name") || "a #{announceable.class.to_s.humanize}"}", announceable
              %td= link_to announcement.name.truncate(60), announcement
              %td= truncate(strip_tags(announcement.markdown.blank? ? announcement.content : @markdown.render(announcement.markdown)), length: 50)
              %td= announcement.poster.name
              %td
                = time_ago_in_words(announcement.created_at)
                ago
