= content_for :title, @announcement.name
= content_for :description, truncate(strip_tags(@announcement.content), length: 200)

.page-wrapper
  %header.page-heading.clearfix
    %ol.breadcrumb
      %li= link_to @announcement.announceable.name, @announcement.announceable
      %li Announcements
      %li.active=@announcement.name
    %h1.heading-title.pull-left
      = @announcement.name
    = render partial: "partials/modtools", locals: {actions: @actions}
  .page-content
    .row-fluid.page-row
      = @announcement.content.html_safe
