= content_for :title, @announcement.name
= content_for :description, truncate(strip_tags(@announcement.markdown), length: 200)

%ol.breadcrumb
  %li.breadcrumb-item= link_to @announcement.announceable.name, @announcement.announceable
  %li.breadcrumb-item Announcements
  %li.breadcrumb-item.active=@announcement.name

.d-flex.justify-content-between
  %h1= @announcement.name
  = render partial: 'partials/modtools', locals: {actions: @actions}

= @markdown.render(@announcement.markdown).html_safe
