%h1 Previous Versions

%table.table.table-hover
  %thead
    %tr
      %th Version
      %th Date
      %th Author
      %th Event
  %tbody
    - @tracks.each do |track|
      %tr
        %td= link_to track.version, history_tracker_path(track, "#{@trackable.class.name.underscore}_id" => @trackable.id)
        %td
          = time_ago_in_words(track.created_at)
          ago
        %td
          - if track.modifier
            = link_to track.modifier do
              = track.modifier&.name
              = render 'badges/badge', badge: track.modifier&.badge
          - else
            Unknown
        %td
          %span.badge{class: "badge-#{track.action == 'create' ? 'success' : 'primary'}"}= track.action.capitalize

.d-flex.justify-content-center
  = paginate @tracks, theme: 'twitter-bootstrap-4'
