%h1= "Changes in ##{@track.version}"
%p
  Authored by
  = @track.modifier&.name || 'Unknown'
  = time_ago_in_words(@track.created_at)
  ago.

- @track.original.keys.each do |field|
  .card.mb-3
    .card-header= field.capitalize
    = diff(@track.original[field], @track.modified[field])

= link_to 'Back',  history_trackers_path("#{@trackable.class.name.underscore}_id" => @trackable.id), class: "btn btn-warning pull-right"

:css
  #{Diffy::CSS}
