%h2
  Edit
  =resource_name.to_s.humanize

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :picture
    = f.file_field :picture, class: "form-control"
  .form-group
    = f.label :bio
    = f.text_area :bio, class: "form-control tinymce"
  = f.submit "Update", class: "btn btn-success pull-right"

:javascript
  init_tiny();
