= content_for :title, @bulletin.pretty_date
= content_for :description, truncate(strip_tags(@bulletin.markdown), length: 200)

%ol.breadcrumb
  %li.breadcrumb-item= link_to 'Morning Announcements', bulletins_path
  %li.breadcrumb-item.active= @bulletin.date

.d-flex.justify-content-between
  %h1= @bulletin.pretty_date
  = render partial: 'partials/modtools', locals: {actions: @actions}

= @markdown.render(@bulletin.markdown).html_safe
