%article
  %h1= t('.title')

  .row
    .col-lg-8
      .card.mb-3
        .card-body
          %blockquote.blockquote.m-0
            %p
              = fa_icon 'quote-left'
              = t('.principal.statement')
            %footer.blockquote-footer
              %span= t('.principal.name')
              %br/
              %span Principal, Syosset High School

      %p= t('.info.text')

    .col
      %figure.figure
        = image_tag("shs-picture-4.jpg", alt: "Picture of Syosset High School building", class: "figure-img img-fluid")
        %figcaption.figure-caption Picture of Syosset High School building. Courtesy of Kevin Ho (Class of 2018).
