= form_for @escalation_request do |f|
  = hidden_field_tag "#{@escalatable.class.to_s.downcase}_id", "#{@escalatable.id}"
  .form-group
    = f.label :note
    = f.text_field :note, placeholder: 'Briefly describe why you want frontpage visibility...', class: 'form-control'
  .form-row
    .form-group.col-md-6
      = f.label :escalation_start_at, 'Start Date'
      = f.datetime_select :escalation_start_at, {}, class: 'form-control'
    .form-group.col-md-6
      = f.label :escalation_end_at, "End Date"
      = f.datetime_select :escalation_end_at, {}, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-success'
