.d-flex.justify-content-between
  %h1
    = @user.name + "'s Schedule"
  .my-1
    - if current_holder.can? :edit, @user
      = link_to 'Add Period', new_user_period_path(@user), class: 'btn btn-primary'

%table.table.table-hover
  %thead
    %tr
      - if current_holder.can? :edit, @user
        %th
      %th Period
      %th Course
      %th Room
  %tbody
    - @periods.each do |period|
      %tr
        - if current_holder.can? :edit, @user
          %td
            = link_to 'Edit', edit_user_period_path(period, user_id: @user.id), class: 'btn btn-outline-primary'
            = link_to 'Remove', user_period_path(@user, period), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure you want to remove this period?' }
        %td= period.period
        %td= link_to period.course.name, period.course
        %td= period.room
