%footer.footer
  .container
    %small.copyright
      Made by
      = link_to "Neil Johari", "https://github.com/neiljohari/"
      and
      = link_to "Kailan Blanks", "https://github.com/kailan/"
    %ul.social
      %li.text-primary
        %a{:href => "https://twitter.com/SyoStudentGov"}
          = fa_icon 'twitter'
      %li
        %a{:href => "https://www.facebook.com/syosseths"}
          = fa_icon 'facebook'
      %li
        %a{:href => "https://github.com/Syosset/syosset"}
          = fa_icon 'github'
      %li
        = fa_icon 'ellipsis-v'
      %li#google_translate_element
        %script{:defer => "", :src => "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit", :type => "text/javascript"}

:javascript
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-105323459-1'}, 'google_translate_element');
    $("#google_translate_element div").eq(1).css("background-color", "rgba(255, 255, 255, 0)");
    $("#google_translate_element span").first("span").html("<i class=\"fa fa-google\" aria-hidden=\"true\"></i> Translate <i class=\"fa fa-caret-down\" aria-hidden=\"true\"></i>");
    $("#google_translate_element img").eq(0).replaceWith("");
  }
