%footer.footer
  .container
    %small.copyright
      Made by the
      = succeed "," do
        = link_to "Website Development Club", "/activities/web-development-club"
      = link_to "Neil Johari", "https://github.com/neiljohari/"
      and
      = link_to "Kailan Blanks", "https://github.com/kailan/"
    %ul.social
      %li
        %a{:href => "https://github.com/Syosset/syosset"}
          = fa_icon 'github'
    %ul.actions
      %li.translate{'data-turbolinks-permanent': true}
        .btn-loader#translate_trigger
          = fa_icon 'google'
          Translate
        #google_translate_element
