%footer.footer
  .container
    %small.copyright
      Made by
      = link_to "Neil Johari", "https://github.com/neiljohari/"
      and
      = link_to "Kailan Blanks", "https://github.com/kailan/"
    %ul.social
      %li.text-primary
        %a{:href => "https://twitter.com/SyoStudentGov"}
          = fa_icon 'twitter'
      %li
        %a{:href => "https://www.facebook.com/syosseths"}
          = fa_icon 'facebook'
      %li
        %a{:href => "https://github.com/Syosset/syosset"}
          = fa_icon 'github'
    %ul.actions
      %li.translate{'data-turbolinks-permanent': true}
        .btn-loader#translate_trigger
          = fa_icon 'google'
          Translate
        #google_translate_element
