%nav.navbar.navbar-expand-lg.navbar-dark{role: :navigation, class: Current.user&.admin_enabled? ? 'bg-dark' : 'bg-syosset'}
  .container
    .d-flex.flex-grow-1.justify-content-between.d-sm-none
      = link_to root_path, class: 'navbar-brand' do
        .logo-mobile
          = svg 'icon'
      .day-indicator
        - if @active_closure.nil?
          = render "partials/nav/day_indicator"
        - else
          = render "partials/nav/closure_indicator"
    .collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item{class: active_controller('welcome/home')}
          = link_to t('nav.home'), root_path, class: 'nav-link'
        %li.nav-item{class: active_controller('welcome/about')}
          = link_to t('nav.about'), about_path, class: 'nav-link'
        %li.nav-item.dropdown{class: active_controller('departments')}
          %a.dropdown-toggle.nav-link{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
            = t('nav.departments')
          %ul.dropdown-menu
            - @departments_summary.each do |department|
              %li= link_to department.name, department
            %li= link_to "#{t('nav.departments_all')}", departments_path
        %li.nav-item{class: active_controller('activities')}
          = link_to t('nav.extracurriculars'), activities_path, class: 'nav-link'

        - if Current.user&.can? :show, :admin_panel
          %li.nav-item{class: active_controller('admin')}
            = link_to t('nav.admin'), administration_path, class: 'nav-link'
      %ul.navbar-nav
        %li.nav-item
          - if @active_closure.nil?
            = render "partials/nav/day_indicator"
          - else
            = render "partials/nav/closure_indicator"
        - if Current.user
          %li.nav-item
            = link_to user_path(Current.user), class: 'nav-link' do
              - unless Current.user.onboarding_steps.empty?
                %span.badge.badge-light.onboarding-alert
                  NEW
                &nbsp;
              - if Current.user.super_admin?
                = fa_icon 'shield-alt'
              = Current.user.name
          %li.nav-item
            = link_to logout_path, :method => :delete, class: 'nav-link' do
              = fa_icon 'sign-out-alt'
              = t('sessions.destroy')
        - else
          %li.nav-item
            = link_to '/auth/google_oauth2', class: 'nav-link btn-loader' do
              = fa_brand_icon 'google-plus-square'
              = t('sessions.new')
          - if Rails.env.development?
            %li.nav-item
              = link_to '/auth/developer', class: 'nav-link btn-loader' do
                = fa_icon 'cog'
                Authorize
        - if Current.user and @alert_count > 0
          %li.nav-item.dropdown
            %a.btn.btn-info.dropdown-toggle.nav-link{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Alerts
              %span.badge.badge-light= @alert_count
              %b.caret
            %ul.dropdown-menu.dropdown-menu-right
              %li= link_to "Click to see all alerts", alerts_path
              - @alerts.each do |alert|
                %li= render partial: 'partials/alerts/alert', object: alert
              - if @alert_count > 25
                %li
                  %a{:href => alerts_path} And #{@alert_count - 25} more...
              - if @alert_count == 0
                %li
                  %a{href: ""} No unread alerts!
