%header.header
  - unless params[:action] == 'landing' || Current.user&.admin_enabled?
    .header-main.container.hidden-xs
      .container
        %h1.logo.pull-left
          = link_to root_path do
            = svg 'logo'
            .full-name.pull-right.visible-lg
              SYOSSET HIGH SCHOOL
        .info.col-md-4-col-sm-4.pull-right
          %br
          %br
          .contact
            %p.phone
              = fa_icon 'phone'
              = t('contact.phone')

%nav.main-nav{role: :navigation, class: Current.user&.admin_enabled? ? 'dark' : ''}
  .container
    .navbar-header
      = link_to root_path do
        .logo-mobile.visible-xs
          = svg 'icon'
      .day-indicator-container.visible-xs
        - if @active_closure.nil?
          = render "partials/nav/day_indicator"
        - else
          = render "partials/nav/closure_indicator"
      %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-collapse.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.nav-item{class: active_controller('welcome', 'index')}
          = link_to t('nav.home'), root_path
        %li.nav-item{class: active_controller('welcome', 'about')}
          = link_to t('nav.about'), about_path
        %li.nav-item.dropdown
          %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
            = t('nav.departments')
            = fa_icon 'angle-down'
          %ul.dropdown-menu
            - @departments_summary.each do |department|
              %li= link_to department.name, department
            %li= link_to "#{t('nav.departments_all')}", departments_path
        %li.nav-item
          = link_to t('nav.extracurriculars'), activities_path

        - if Current.user&.can? :show, :admin_panel
          %li.nav-item{class: active_controller('admin', 'index')}
            = link_to t('nav.admin'), administration_path
      %ul.nav.navbar-nav.pull-right
        %li.nav-item.hidden-xs
          - if @active_closure.nil?
            = render "partials/nav/day_indicator"
          - else
            = render "partials/nav/closure_indicator"
        - if Current.user
          %li.nav-item
            = link_to user_path(Current.user) do
              - unless Current.user.onboarding_steps.empty?
                %span.label.label-info.onboarding-alert
                  = fa_icon 'pencil-square'
                  NEW
                &nbsp;
              - if Current.user.admin_enabled?
                = fa_icon 'shield'
              = Current.user.name
          %li.nav-item
            = link_to t('menu.account.sign_out'), logout_path, :method => :delete
        - else
          %li.nav-item
            = link_to '/auth/google_oauth2', class: 'btn-loader' do
              = t('menu.account.sign_in_with')
              = fa_icon 'google-plus-square'
          - if Rails.env.development?
            %li.nav-item
              = link_to '/auth/developer', class: 'btn-loader' do
                Authorize
                = fa_icon 'cog'
        - if Current.user
          %li.nav-item.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              %span.badge.visible-md-inline.visible-lg-inline{class: @alert_count > 0 ? "badge-warning" : ""}= @alert_count
              .visible-xs.visible-sm
                = fa_icon 'exclamation-circle'
                Alerts
                %b.caret
            %ul.dropdown-menu.dropdown-menu-right
              %li= link_to "Click to see all alerts", alerts_path
              - @alerts.each do |alert|
                %li= render partial: 'partials/alerts/alert', object: alert
              - if @alert_count > 25
                %li
                  %a{:href => alerts_path} And #{@alert_count - 25} more...
              - if @alert_count == 0
                %li
                  %a{href: ""} No unread alerts!
  = render 'peek/bar'
