%header.header
  .header-main.container
    %h1.logo.col-md-8.col-sm-8
      %b
        = link_to t('name.abbr'), root_path
      .hidden-xs.visible-sm-inline.visible-md-inline.visible-lg-inline
        = link_to t('name.full'), root_path
    .info.col-md-4-col-sm-4
      %ul.menu-top.navbar-right.hidden-xs
        %li.divider
          = link_to t('nav.home'), root_path
        %li
          = link_to t('nav.contact'), root_path #TODO: link
      %br
      .contact.pull-right
        %p.phone
          %i.fa.fa-phone
          = t('contact.phone')
        %p.email
          %i.fa.fa-envelope
          = t('contact.email')

%nav.main-nav{role: :navigation}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-collapse.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active.nav-item
          = link_to t('nav.home'), root_path
        %li.nav-item.dropdown
          %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
            = t('nav.courses')
            %i.fa.fa-angle-down
          %ul.dropdown-menu
            %li
              %a{href: "#"} Course list
