%header.header
  - unless params[:action] == 'landing'
    .header-main.container.hidden-xs
      .container
        %h1.logo.pull-left
          = link_to root_path do
            = svg 'logo'
            .full-name.pull-right.visible-lg
              SYOSSET HIGH SCHOOL
        .info.col-md-4-col-sm-4.pull-right
          %br
          %br
          .contact
            %p.phone
              %i.fa.fa-phone
              = t('contact.phone')

%nav.main-nav{role: :navigation}
  .container
    .navbar-header
      = link_to root_path do
        .logo-mobile.visible-xs
          = svg 'icon'
      .day-indicator-container.visible-xs
        = render "partials/nav/day_indicator"
      %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-collapse.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.nav-item{class: active_controller('welcome', 'index')}
          = link_to t('nav.home'), root_path
        %li.nav-item{class: active_controller('welcome', 'about')}
          = link_to t('nav.about'), about_path
        %li.nav-item.dropdown
          %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
            = t('nav.departments')
            %i.fa.fa-angle-down
          %ul.dropdown-menu
            - @departments_summary.each do |department|
              %li= link_to department.name, department
            %li= link_to "#{t('nav.departments_all')}", departments_path
        %li.nav-item
          = link_to t('nav.extracurriculars'), activities_path

        - if user_signed_in? && current_user.admin_enabled?
          %li.nav-item{class: active_controller('admin', 'index')}
            = link_to t('nav.admin'), admin_path
      %ul.nav.navbar-nav.pull-right
        %li.nav-item.hidden-xs
          .red-white-display
            = render "partials/nav/day_indicator"
        - if user_signed_in?
          %li.nav-item
            = link_to user_path(current_user) do
              - unless current_user.onboarding_steps.empty?
                %span.label.label-info
                  %i.fa.fa-pencil-square
                  NEW
                &nbsp;
              - if current_user.admin_enabled?
                %i.fa.fa-shield
              = current_user.name
          %li.nav-item
            = link_to t('menu.account.sign_out'), destroy_user_session_path, :method => :delete
        - else
          %li.nav-item
            = link_to user_google_oauth2_omniauth_authorize_path do
              = t('menu.account.sign_in_with')
              %i.fa.fa-google-plus-square
        - if user_signed_in?
          %li.nav-item.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              %span.badge.visible-md-inline.visible-lg-inline{class: @alert_count > 0 ? "badge-warning" : ""}= @alert_count
              .visible-xs.visible-sm
                %i.fa.fa-exclamation-circle
                Alerts
                %b.caret
            %ul.dropdown-menu.dropdown-menu-right
              %li= link_to "See all alerts", alerts_path
              - @alerts.each do |alert|
                %li= render partial: 'partials/alerts/alert', object: alert
              - if @alert_count > 25
                %li
                  %a{:href => alerts_path} And #{@alert_count - 25} more...
              - if @alert_count == 0
                %li
                  %a{href: ""} No unread alerts!
  = render 'peek/bar'
