= content_for :model_name, User.name.underscore.to_sym
= javascript_include_tag "markdown"

= form_for @user do |f|
  .form-group
    = f.label :name
    = f.text_field :name, placeholder: "Name", class: "form-control"
  .form-group
    = f.label :badge
    = f.select :badge, Badge.all.collect {|b|[b.name,b.id]}, include_blank: true
  .form-group
    = f.label :picture
    = f.file_field :picture, class: "form-control"
  .form-group
    = f.label :bio
    = f.text_area :bio, placeholder: "Bio", class: "form-control markdown"
  .form-group
    = f.label :super_admin
    = f.check_box :super_admin
  = f.submit "Save", class: "btn btn-success pull-right", id: "submit-button"
