= content_for :model_name, User.name.underscore.to_sym
= content_for :model_id, @user.id
= javascript_include_tag "markdown"

= errors_for(@user)

= form_for @user do |f|
  .form-group
    = f.label :picture
    = f.file_field :picture, class: "form-control"
  .form-group
    = f.label :bio
    ~ f.text_area :bio, class: "form-control markdown"
  = f.submit "Update", class: "btn btn-success pull-right"