= content_for :model_name, User.name.underscore.to_sym
= content_for :model_id, @user.id

%h1 Edit User
= render 'form'

- if Current.user&.can? :view, Authorization
  .d-flex.justify-content-between.mt-3
    %h2 Authorizations
    .m-0
      = link_to "Create Authorization", new_user_authorization_path(@user), class: 'btn btn-primary'

  %table.table
    %thead
      %tr
        %th
        %th ID
        %th Provider
        %th Age
    %tbody
      - @user.authorizations.each do |authorization|
        %tr
          %td
            = link_to user_authorization_path(@user, authorization), method: :delete do
              = fa_icon 'times'
            = link_to edit_user_authorization_path(@user, authorization) do
              = fa_icon 'edit'
          %td= authorization.id
          %td= authorization.provider
          %td= time_ago_in_words(authorization.created_at)
