.d-flex.justify-content-between
  %h1 Users
  .d-flex.justify-content-end
    .mr-2
      = link_to "Create Users", new_user_path, class: "btn btn-primary pull-right"
    %input#search.form-control{placeholder: 'Search by name or ID', type: 'text',  'data-provide': 'typeahead'}

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Email
  %tbody
    - @users.each do |user|
      %tr
        %td
          = link_to user.name, edit_user_path(user)
          = render 'badges/badge', badge: user.badge
          &nbsp;
          - if user.super_admin
            = fa_icon 'shield-alt'
          - if user.bot
            = fa_icon 'certificate'
        %td= user.email

.d-flex.justify-content-center
  = paginate @users, theme: 'twitter-bootstrap-4'

:javascript
  $(function() {
    $('#search').autocomplete({
      minLength: 3,
      source: '#{user_autocompletions_path(:json)}',
      focus: function(event, ui) {
        $('#search').val(ui.item.label);
        return false;
      },
      select: function(event, ui) {
        window.location.href = '/users/' + ui.item.value + '/edit';
        return false;
      }
    })
    .autocomplete('instance')._renderItem = function(ul, item) {
      return $('<li class="list-group-item">')
        .append(item.label + '<br/>' + item.desc)
        .appendTo(ul);
    };
  });
