.page-wrapper
  %header.page-heading.clearfix
    %h1.heading-title.pull-left Users
    = link_to "Create Users", new_user_path, class: "btn btn-primary pull-right"
  .page-content
    %input#search.form-control{:placeholder => "Search by name or ID", :type => "text",  "data-provide" => "typeahead"}
    .table-responsive
      %table.table
        %thead
          %tr
            %th Name
            %th Email
        %tbody
          - @users.each do |user|
            %tr
              %td
                = link_to user.name, edit_user_path(user)
                = render 'badges/badge', badge: user.badge
                &nbsp;
                - if user.super_admin
                  = fa_icon 'shield'
                - if user.bot
                  = fa_icon 'certificate'
              %td= user.email
    = paginate @users, theme: 'twitter-bootstrap-4'

:javascript
  $(function() {
    $('#search').autocomplete({
      minLength: 2,
      source: '#{user_autocompletions_path(:json)}',
      focus: function(event, ui) {
        $('#search').val(ui.item.label);
        return false;
      },
      select: function(event, ui) {
        window.location.href = '/users/' + ui.item.value + '/edit';
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div>" + item.label + "<br>" + item.desc + "</div>" )
        .appendTo( ul );
    };
  });
