.row
  .col
    %h1 Departments
  .col.d-flex
    = render partial: 'partials/modtools', locals: {actions: @actions}
    .flex-grow-1
      = render partial: 'partials/index_search_bar', locals: {path: departments_path}

- unless (@admins = @departments.select {|d| d.type == 'administrative'}).empty?
  %h4.department-type-header Administrative
  .card-columns
    - @admins.each do |department|
      .card.bg-syosset.text-white
        .card-body
          %h5.card-title
            = link_to department.name, department_path(department), class: 'text-white'
          %p.card-text= department.summary.truncate(120)

- unless (@instructionals = @departments.select {|d| d.type == 'instructional'}).empty?
  %h4.department-type-header Instructional
  .card-columns
    - @instructionals.each do |department|
      .card
        .card-body
          %h5.card-title
            = link_to department.name, department_path(department)
          %p.card-text= department.summary.truncate(120)
        - unless department.links.empty?
          .card-footer
            - link = department.links.first
            = link_to link[:target], class: 'card-link' do
              = fa_icon link.icon.blank? ? 'link' : link.icon.gsub('fa-', '')
              = link.name

- if @order_mode
  -# allow admins to re-order departments
  %h2 All Departments
  = render 'table'
