.page-wrapper
  %header.page-heading.clearfix
    %h1.heading-title.pull-left= @department.name
    = render partial: "partials/modtools", locals: {actions: @actions}
    %ul.nav.navbar-nav.pull-right
      %li
        - if user_signed_in?
          - if @department.subscriber? current_user
            %a{:href => unsubscribe_department_path(@department), data: {method: 'post'}} Unsubscribe
          - else
            %a{:href => subscribe_department_path(@department), data: {method: 'post'}} Subscribe
  .page-content
    .row.page-row
      .courses-wrapper.col-md-8.col-sm-7
        = form_for [:admin, @department] do |f|
          %div{class: "#{"editable-content" if current_holder.can? :edit, @department}", id: "department[content]"}
            = @department.content.html_safe
        - unless @department.courses.empty?
          %h3 Courses
          %input.course-search.form-control{type: 'text', placeholder: 'Search courses'}
          %hr
          - @department.courses.in_groups_of(4).each_with_index do |courses, index|
            .row
              - courses.compact.each do |course|
                .col-xs-6.col-md-3.course{data: {name: course.name}, class: index >= 2 ? 'hidden' : ''}
                  = link_to course.name.truncate(50), course, class: "thumbnail"
      %aside.page-sidebar.col-md-3.col-md-offset-1.col-sm-4.col-sm-offset-1
        %section.widget.has-divider
          %h3.title
            %i.fa.fa-phone
            Contact Department
          %p
            Call us at
            = @department.phone
        %section.widget.has-divider
          %h3.title
            %i.fa.fa-bell
            = link_to "Announcements", announcements_path(department_id: @department.id)
          %ul.rankable.list-group
            - @department.announcements.by_priority.limit(5).each do |announcement|
              = content_tag_for(:li, announcement, class: "list-group-item") do
                - if current_holder.can?(:edit, announcement)
                  %i.handle.fa.fa-sort{"aria-hidden" => "true"}
                = link_to announcement.name.truncate(38), announcement
        %section.widget.has-divider
          %h3.title
            %i.fa.fa-link
            = link_to "Links", links_path(department_id: @department.id)
          %ul.rankable.list-group
            - @department.links.by_priority.limit(5).each do |link|
              = content_tag_for(:li, link, class: "list-group-item") do
                - if current_holder.can?(:edit, link)
                  %i.handle.fa.fa-sort{"aria-hidden" => "true"}
                  = link_to admin_link_path(link), method: :delete, data: { confirm: 'Are you sure?' } do
                    %i.fa.fa-times
                  = link_to new_admin_escalation_request_path(link_id: link) do
                    - if link.escalated?
                      %i.fa.fa-star
                    - else
                      %i.fa.fa-star-o
                = link_to link.name, link.target
:javascript
  init_tiny();
