= content_for :title, @department.name
= content_for :description, @department.summary

.row
  .col
    %h1= @department.name
  .col.d-flex.justify-content-end
    = render partial: "partials/modtools", locals: {actions: @actions}
    .m-0
      - if Current.user
        - if @department.subscriber? Current.user
          = link_to unsubscribe_department_path(@department), method: :post, class: 'btn btn-danger' do
            = fa_icon 'times-circle'
            Unsubscribe
        - else
          = link_to subscribe_department_path(@department), method: :post, class: 'btn btn-primary' do
            = fa_icon 'rss'
            Subscribe

.row
  .col-md-8
    - unless @department.markdown.blank?
      = @markdown.render(@department.markdown).html_safe
    - else
      .text-muted= t('missing_content')

    - unless @department.collaborator_group.users.empty?
      #staff.pt-3
        %h3 Staff
        %table.table.table-hover
          %thead
            %tr
              %th Name
              %th Email
          %tbody
            - @department.collaborator_group.users.includes(:badge).sort_by {|u| u.name.split(' ').last}.each_with_index do |user, index|
              %tr.teacher{class: index > 8 ? 'd-none' : ''}
                %td
                  = link_to user do
                    = user.name
                    = render 'badges/badge', badge: user.badge
                %td= link_to user.email, "mailto:#{user.email}"
            %tr
              %td{colspan: 2}
                - excess_teachers = @department.collaborator_group.users.count - 8
                - if excess_teachers >= 1
                  = link_to 'javascript:;', id: 'show-more-teachers', class: 'btn btn-sm btn-outline-info' do
                    = fa_icon 'ellipsis-h'
                    = "Click to see #{excess_teachers} more staff"

    - unless @department.courses.empty?
      #courses.pt-3
        %h3 Courses
        %input.course-search.form-control{type: 'text', placeholder: 'Search courses'}
        %table.table.table-hover
          %tbody
            - @department.courses.each_with_index do |course, index|
              %tr.course{data: {name: course.name, course_id: course.course_id}, class: index > 8 ? 'd-none' : ''}
                %td= link_to course.name.truncate(50), course
            %tr
              %td
                - excess_courses = @department.courses.count - 8
                - if excess_courses >= 1
                  = link_to 'javascript:;', id: 'show-more-courses', class: 'btn btn-sm btn-outline-info' do
                    = fa_icon 'ellipsis-h'
                    = "Click to see #{excess_courses} more courses"

  .col
    = render 'partials/announcements', announcements: @department.announcements
    = render 'partials/links', links: @department.links

:javascript
  $(document).on('turbolinks:load', function() {
    $('#show-more-teachers').click(function() {
      $('.teacher').removeClass('d-none');
      $('#show-more-teachers').addClass('d-none');
    });
      $('#show-more-courses').click(function() {
      $('.course').removeClass('d-none');
      $('#show-more-courses').addClass('d-none');
    });
  });
