.page-wrapper
  %header.page-heading.clearfix
    %h1.heading-title.pull-left= t('.title')
  .page-content
    .row.page-row
      %article.welcome.container
        .col-md-6
          %h3.title= t('.info.title')
          %blockquote.custom-quote
            %p
              %i.fa.fa-quote-left
              = t('.principal.statement')
            %p.people
              %span.name= t('.principal.name')
              %br/
              %span.title Principal, Syosset High School
          %p= t('.info.text')

        .col-md-6
          %p= image_tag("shs-picture-4.jpg", alt: "Picture of Syosset High School building. Courtesy of Kevin Ho (Class of 2018).", class: "img-responsive img-thumbnail")
