= content_for :body_class, "home-page" # College Green theme
= content_for :description, t('welcome.description')

.row
  .col-md-9
    = render "slider"
  .col-md-3
    = render "quicklinks"
= render "announcements"