%h1
  Manage collaborators for
  = link_to @collaborator_group.collaboratable.name || 'resource', @collaborator_group.collaboratable

= form_for @collaborator_group, url: collaborator_group_memberships_path(@collaborator_group), method: :post do |f|
  .input-group
    %input#search.form-control{:placeholder => 'Search by name or email address', :type => "text",  "data-provide" => "typeahead"}
    .input-group-append
      = f.submit 'Add Collaborator', class: 'btn btn-primary'
    %input#search_id{name: "user_id", type: 'hidden'}/

%ul.list-group.mt-3
  - User.in_group(@collaborator_group).each do |user|
    %li.list-group-item.d-flex
      %a.btn.btn-outline-danger{href: collaborator_group_membership_path(@collaborator_group, user_id: user), data: {method: :delete}}
        .my-1
          = fa_icon 'times'
      .ml-3
        %strong= user.name
        %br/
        = user.email

:javascript
  $(function() {
        $('#search').autocomplete({
              minLength: 2,
            source: '#{user_autocompletions_path(:json)}',
              focus: function(event, ui) {
                  $('#search').val(ui.item.label);
                  return false;
              },
              select: function(event, ui) {
                  $('#search').val(ui.item.label);
                  $('#search_id').val(ui.item.value);
                  return false;
              }
          })
           .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
              .append( "<div>" + item.label + "<br>" + item.desc + "</div>" )
              .appendTo( ul );
          };
      });
