.d-flex.justify-content-between
  %h1 Policies
  .m-0
    = render 'partials/modtools'

%table.table.table-hover
  %thead
    %th ID
    %th Priority
    %th Name
    %th Context
  %tbody
    %tr
      - @policies.order([:priority, :desc]).each do |policy|
        = content_tag_for(:tr, policy) do
          %td= link_to policy.id, policy
          %td= policy.priority
          %td= policy.name
          %td= policy.context
