%ol.breadcrumb
  %li.active Policies
%h1
  Policies
  .pull-right
    = render 'partials/modtools'
%table.table.table-responsive
  %thead
    %th ID
    %th Priority
    %th Name
    %th Context
  %tbody
    %tr
      - @policies.order([:priority, :desc]).each do |policy|
        = content_tag_for(:tr, policy) do
          %td= link_to policy.id, policy
          %td= policy.priority
          %td= policy.name
          %td= policy.context
