%ol.breadcrumb
  %li.breadcrumb-item= link_to 'Policies', policies_path
  %li.breadcrumb-item.active= @policy.name

.d-flex.justify-content-between
  %h1
    = @policy.name
    %small
      - unless @policy.context.empty?
        Context:
        = @policy.context
  .m-0
    = render 'partials/modtools'

= render partial: 'permissions/targets/targets', collection: @targets
