%ol.breadcrumb
  %li= link_to 'Policies', policies_path
  %li.active= @policy.name
.row
  = link_to edit_policy_path(@policy), class: 'btn btn-warning pull-right' do
    Edit Policy
  = link_to policy_targets_path(@policy), class: 'btn btn-warning pull-right' do
    Manage Targets
.row
  %pre= JSON.pretty_generate(@policy.serializable_hash).gsub(/\n/, '<br/>').html_safe
