= form_for [:admin, @announcement] do |f|
  = hidden_field_tag "#{@announceable.class.to_s.downcase}_id", "#{@announceable.id}"
  .form-group
    = f.label :name
    = f.text_field :name, placeholder: "Name", class: "form-control"
  .form-group
    = f.label :content
    = f.text_area :content, placeholder: "Content", rows: 10, class: "form-control tinymce"
  = f.submit "Save", class: "btn btn-success pull-right", id: "submit-button"

= tinymce
