%ol.breadcrumb
  %li= link_to 'Policies', policies_path
  %li= link_to @policy.name, policy_path(@policy)
  %li= link_to 'Targets', policy_targets_path(@policy)
  %li.active= @target.id
  = link_to edit_policy_target_path(@policy, @target), class: 'pull-right' do
    = fa_icon 'bullseye'
    Edit Target

%pre= JSON.pretty_generate(@target.serializable_hash).gsub(/\n/, '<br/>').html_safe
