%ol.breadcrumb
  %li.breadcrumb-item= link_to 'Policies', policies_path
  %li.breadcrumb-item= link_to @policy.name, policy_path(@policy)
  %li.breadcrumb-item= link_to 'Targets', policy_targets_path(@policy)
  %li.breadcrumb-item.active= @target.id

.d-flex.justify-content-between
  %h1
    Target
    %small
      ID:
      = @target.id
  .m-0
    = render 'partials/modtools'

.card
  .card-body
    %pre= JSON.pretty_generate(@target.serializable_hash).gsub(/\n/, '<br/>').html_safe
