.closure-info
  .closure-icon
    - if @active_closure.type == 'snow'
      = fa_icon 'snowflake-o'
    - else
      = fa_icon 'exclamation-triangle'
  .closure-content
    %p.dates
      Syosset High School is closed
      - if @active_closure.start_date == @active_closure.end_date
        on
        = @active_closure.start_date.strftime("%A") + '.'
      - else
        from
        = @active_closure.start_date.strftime("%A")
        to
        = @active_closure.end_date.strftime("%A") + '.'
    %p= @active_closure.content
