= form_for @integration do |f|
  = hidden_field_tag 'integration[provider]', @integration.provider.id

  - @integration.provider.options.each do |option, properties|
    .form-group
      = label_tag option, t("integrations.#{@integration.provider.id}.options.#{option.to_s}.name")
      %p= t("integrations.#{@integration.provider.id}.options.#{option.to_s}.description")
      - if properties[:type] == String
        = text_field_tag "integration[options][#{option.to_s}]", @integration.options[option], class: 'form-control', placeholder: t("integrations.#{@integration.provider.id}.options.#{option.to_s}.placeholder")
  = f.submit t('integrations.save'), class: "btn btn-success pull-right", id: "submit-button"
