%ol.breadcrumb
  %li= link_to t('integrations.title'), integrations_path
  %li.active
    = fa_icon @integration.provider.fa_icon
    = @integration.provider.friendly_name

= render 'form'
= link_to t('integrations.destroy'), integration_path(@integration), class: 'btn btn-danger', method: :delete, data: {confirm: t(:confirm)}

- if @integration.failures.count > 0
  %hr
  %h4
    = t('integrations.failures.title')
    = link_to "(#{t('integrations.failures.clear')})", clear_failures_integration_path(@integration), method: :post
  .table-responsive
    %table.table
      %thead
        %tr
          %th= t('integrations.failures.time')
          %th= t('integrations.failures.error')
          %th= t('integrations.failures.event')
          %th= t('integrations.failures.parameters')
      %tbody
        - @integration.failures.sort_by(&:created_at).reverse.each do |failure|
          %tr
            %td= time_ago_in_words(failure.created_at) + ' ago'
            %td= failure.error
            %td= failure.event
            %td= failure.parameters.to_json
