.page-wrapper
  %header.page-heading.clearfix
    %h1.heading-title.pull-left Integrations
    = link_to "Create", new_integration_path, class: "btn btn-primary pull-right"
  .page-content
    .table-responsive
      %table.table
        %thead
          %tr
            %th Provider
            %th Failure Count
            %th Properties
        %tbody
          - @integrations.each do |integration|
            - provider = integration.create_provider
            %tr
              %td
                %i.fa{class: "fa-#{provider.fa_icon}"}
                = link_to provider.friendly_name, edit_integration_path(integration)
              %td= integration.failures.count
              %td
                - props = integration[:properties]
                - props[:token] = "[hidden]" unless props[:token].nil?
                %kbd= props.to_json.truncate(120)
