%ol.breadcrumb
  %li.breadcrumb-item.active= t('integrations.title')
  = link_to new_integration_path, class: 'pull-right' do
    = fa_icon 'plug'
    = t('integrations.new.title')

- @integrations.each do |integration|
  .integration-provider
    .meta
      .icon
        = fa_icon integration.provider.fa_icon
      .info
        .name
          = link_to integration.provider.friendly_name, edit_integration_path(integration)
          - if integration.failures.count > 0
            %span.label.label-danger= t('integrations.failures.count', count: integration.failures.count)
        .description= integration.create_provider.describe
