%ol.breadcrumb
  %li.active Integrations
  = link_to new_integration_path, class: 'pull-right' do
    = fa_icon 'plug'
    Create Integration

- @integrations.each do |integration|
  .integration-provider
    .meta
      .icon
        = fa_icon integration.provider.fa_icon
      .info
        .name
          = link_to integration.provider.friendly_name, edit_integration_path(integration)
          - if integration.failures.count > 0
            %span.label.label-danger= pluralize(integration.failures.count, 'failure')
        .description= integration.create_provider.describe
