%ol.breadcrumb
  %li= link_to t('integrations.title'), integrations_path
  %li
    = link_to new_integration_path do
      = fa_icon 'plug'
      = t(:title)
  %li.active
    %i.fa{class: "fa-#{@integration.provider.fa_icon}"}
    = @integration.provider.friendly_name

= render 'form'
