%ol.breadcrumb
  %li= link_to 'Integrations', integrations_path
  %li.active
    = fa_icon 'plug'
    Create Integration

- @providers.each do |provider|
  .integration-provider
    .meta
      .icon
        = fa_icon provider.fa_icon
      .info
        .name= provider.friendly_name
        .description= t("integrations.#{provider.id}.description")
    = link_to new_integration_path(provider: provider.id), class: 'btn' do
      = fa_icon 'plug'
      Create
