.page-wrapper
  %header.page-heading.clearfix
    .row
      .col-xs-12.col-sm-5
        %h1.heading-title.pull-left
          Courses
          %small
            For
            = link_to @department.name, @department
      .col-xs-12.col-sm-7
        = render partial: "partials/index_search_bar", locals: {path: department_courses_path(@department)}

    .row
      = render partial: "partials/modtools", locals: {actions: @actions}
  .page-content
    .table-responsive
      %table.table
        %thead
          %tr
            %th Title
            %th Description
        %tbody
          - @courses.each do |course|
            = content_tag_for(:tr, course) do
              %td= link_to course.name, course
              %td= course.short_description
    = paginate @courses, theme: 'tb3'
