.page-wrapper
  %header.page-heading.clearfix
    .row
      .col-xs-12.col-sm-5
        %h1.heading-title.pull-left
          Courses
          %small
            For
            = link_to @department.name, @department
      .col-xs-12.col-sm-7
        = form_tag department_courses_path(@department), method: :get do
          .input-group
            %input#search.form-control{:placeholder => "Search for Course", :type => "text", name: "search", value: params[:search]}
            %span.input-group-btn
              = submit_tag "Search", :name => nil, class: "btn btn-default"
    .row
      = render partial: "partials/modtools", locals: {actions: @actions}
  .page-content
    .table-responsive
      %table.table
        %thead
          %tr
            %th Title
            %th Description
        %tbody
          - @courses.each do |course|
            = content_tag_for(:tr, course) do
              %td= link_to course.name, course
              %td= course.short_description
    = paginate @courses, theme: 'tb3'
