= content_for :title, @course.name
= content_for :description, @course.summary

%ol.breadcrumb
  %li.breadcrumb-item= link_to "Departments", departments_path
  %li.breadcrumb-item= link_to @course.department.name, @course.department
  %li.breadcrumb-item= link_to "Courses", department_courses_path(@course.department)
  %li.breadcrumb-item.active= @course.name

.d-flex.justify-content-between
  .flex-grow-1
    %h1
      %span.text-muted= "##{@course.course_id}"
      = @course.name
  .d-flex
    = render partial: "partials/modtools", locals: {actions: @actions}
    .m-0
      - if Current.user
        - if @course.subscriber? Current.user
          = link_to unsubscribe_course_path(@course), method: :post, class: 'btn btn-danger' do
            = fa_icon 'times-circle'
            Unsubscribe
        - else
          = link_to subscribe_course_path(@course), method: :post, class: 'btn btn-primary' do
            = fa_icon 'rss'
            Subscribe

.row
  .col-md-8
    - unless @course.markdown.blank?
      = @markdown.render(@course.markdown).html_safe
    - else
      .text-muted= t('missing_content')
  .col
    = render 'partials/announcements', announcements: @course.announcements
    = render 'partials/links', links: @course.links
