.page-wrapper
  %header.page-heading.clearfix
    %h1.heading-title.pull-left
      = @course.name
      %small
        - department = @course.department
        = link_to "For #{department.name}", department
    = render partial: "partials/modtools", locals: {actions: @actions}
  .page-content
    .row-fluid.page-row
      = @course.content
