.admin-stats
  %h1
    = User.count
    %small users
  %h1
    = Activity.count
    %small activities
  %h1
    = Announcement.count
    %small announcements

= link_to escalation_requests_path, class: "btn btn-admin" do
  = fa_icon "star"
  View Escalation Requests
= link_to users_path, class: "btn btn-admin" do
  = fa_icon "user"
  Manage Users
= link_to badges_path, class: "btn btn-admin" do
  = fa_icon "shield"
  Manage Badges
= link_to closures_path, class: "btn btn-admin" do
  = fa_icon "snowflake-o"
  Manage Closures
= link_to edit_day_path, class: "btn btn-admin" do
  = fa_icon "calendar"
  Update Day Color
= link_to promotions_path, class: "btn btn-admin" do
  = fa_icon "home"
  Manage Promotions
= link_to integrations_path, class: "btn btn-admin" do
  = fa_icon "plug"
  Manage Integrations
