= errors_for(@activity)

= form_for @activity do |f|
  .form-group
    = f.label :name
    = f.text_field :name, placeholder: "Name", class: "form-control"
  .form-group
    = f.label :type
    = f.select :type, ['club', 'sport', 'group']
  .form-group
    = f.label :short_description
    = f.text_field :short_description, placeholder: "Short Description", class: "form-control"
  - if !@activity.content.blank? && current_user.super_admin
    .form-group
      = f.label :content, "OLD CONTENT"
      = f.text_area :content, rows: 10, class: "form-control", disabled: true
  .form-group
    = f.label :markdown
    = f.text_area :markdown, placeholder: "Content", rows: 10, class: "form-control markdown"

  = f.submit "Save", class: "btn btn-success pull-right", id: "submit-button"
