.row
  .col
    %h1 Activities
  .col.d-flex
    = render partial: 'partials/modtools', locals: {actions: @actions}
    .flex-grow-1
      = render partial: 'partials/index_search_bar', locals: {path: activities_path}

.alert.alert-info
  Want to add your club/group/sport?
  = link_to "Click here!", "https://goo.gl/forms/5NyEFmoWkSbtIHEM2"

.table-responsive
  %table.table
    %thead
      %tr
        %th Activity Name
        %th Type
        %th Description
    %tbody
      - @activities.each do |activity|
        %tr
          %td= link_to activity.name, activity
          %td= activity.type.to_s.humanize
          %td= activity.summary

.d-flex.justify-content-center
  = paginate @activities, theme: 'twitter-bootstrap-4'
