= content_for :title, @activity.name
= content_for :description, @activity.summary

.row
  .col
    %h1= @activity.name
  .col.d-flex.justify-content-end
    = render partial: "partials/modtools", locals: {actions: @actions}
    .m-0
      - if Current.user
        - if @activity.subscriber? Current.user
          = link_to unsubscribe_activity_path(@activity), method: :post, class: 'btn btn-danger' do
            = fa_icon 'times-circle'
            Unsubscribe
        - else
          = link_to subscribe_activity_path(@activity), method: :post, class: 'btn btn-primary' do
            = fa_icon 'rss'
            Subscribe

.row
  .col-md-8
    - unless @activity.markdown.blank?
      = @markdown.render(@activity.markdown).html_safe
    - else
      .text-muted= t('missing_content')
  .col
    = render 'partials/announcements', announcements: @activity.announcements
    = render 'partials/links', links: @activity.links
