.page-wrapper
  %header.page-heading.clearfix
    %h1.heading-title.pull-left= @activity.name
    = render partial: "partials/modtools", locals: {actions: @actions}
    %ul.nav.navbar-nav.pull-right
      %li
        -# if user_signed_in?
          - if @activity.subscriber? current_user
            %a{:href => unsubscribe_activity_path(@activity), data: {method: 'post'}} Unsubscribe
          - else
            %a{:href => subscribe_activity_path(@activity), data: {method: 'post'}} Subscribe
        - if user_signed_in? && current_holder.can?(:edit, @activity) && current_user.staff?
          %a{:href => unlock_activity_path(@activity, granter_id: current_user), data: {method: 'post'}} Unlock this page for student edits

  .page-content
    .row.page-row
      .courses-wrapper.col-md-8.col-sm-7
        = form_for @activity do |f|
          %div{class: "#{"editable-content" if current_holder.can? :edit, @activity}", id: "activity[content]"}
            = @activity.content.html_safe
      %aside.page-sidebar.col-md-3.col-md-offset-1.col-sm-4.col-sm-offset-1
        %section.widget.has-divider
          %h3.title
            %i.fa.fa-bell
            = link_to "Announcements", announcements_path(activity_id: @activity.id)
          %ul.rankable.list-group
            - @activity.announcements.by_priority.limit(5).each do |announcement|
              = content_tag_for(:li, announcement, class: "list-group-item") do
                - if current_holder.can?(:edit, announcement)
                  %i.handle.fa.fa-sort{"aria-hidden" => "true"}
                = link_to announcement.name.truncate(38), announcement
        %section.widget.has-divider
          %h3.title
            %i.fa.fa-link
            = link_to "Links", links_path(activity_id: @activity.id)
          %ul.rankable.list-group
            - @activity.links.by_priority.limit(5).each do |link|
              = content_tag_for(:li, link, class: "list-group-item") do
                - if current_holder.can?(:edit, link)
                  %i.handle.fa.fa-sort{"aria-hidden" => "true"}
                  = link_to link_path(link), method: :delete, data: { confirm: 'Are you sure?' } do
                    %i.fa.fa-times
                  = link_to new_admin_escalation_request_path(link_id: link) do
                    - if link.escalated?
                      %i.fa.fa-star
                    - else
                      %i.fa.fa-star-o
                = link_to link.name, link.target
:javascript
  init_tiny();
