.card.mb-3.carousel.slide#announcementCarousel
  .card-header.d-flex.bg-syosset.text-white.justify-content-between
    .title
      = fa_icon 'bell'
      = t('announcements.title')
    .carousel-controls
      %a.text-light{'data-slide': 'prev', href: '#announcementCarousel'}
        = fa_icon 'caret-square-left'
        %span.sr-only Previous
      %a.text-light{'data-slide': 'next', href: '#announcementCarousel'}
        = fa_icon 'caret-square-right'
        %span.sr-only Next
  .card-body.carousel-inner
    - @announcements.in_groups_of(2).each_with_index do |group, index|
      .carousel-item{class: index == 0 ? 'active' : ''}
        .card-deck
          - group.compact.each do |announcement|
            .card
              .card-body
                %h5.card-title= announcement.name
                %p.card-text= truncate(announcement.summary || strip_tags(@markdown.render(announcement.markdown)), length: 140)
              .card-footer
                = link_to announcement, class: 'card-link' do
                  Read more
                  = fa_icon 'chevron-right'
