.card.mb-3
  .card-header.d-flex.bg-syosset.text-white
    .title
      = fa_icon 'bell'
      = t('announcements.title')
    .carousel-controls.ml-3
      %a.prev{'data-slide': 'prev', href: '#'}
        = fa_icon 'caret-left'
      %a.next{'data-slide': 'next', href: '#'}
        = fa_icon 'caret-right'
  .card-body
    #news-carousel.row
      - @announcements.each do |announcement|
        .item
          .card
            .card-header= link_to announcement.name, announcement
            .card-body
              %p.card-text= announcement.summary || truncate(strip_tags(@markdown.render(announcement.markdown)), length: 140)
              = link_to announcement, class: 'card-link' do
                Read more
                = fa_icon 'chevron-right'
