- if @bulletin_today
  .card.mb-3
    .card-header.bg-syosset.text-white
      = fa_icon 'bullhorn'
      Morning Announcements
    .card-body
      %h5.card-title
        = link_to @bulletin_today.pretty_date, @bulletin_today
      %p.card-text
        = truncate(strip_tags(@markdown.render(@bulletin_today.markdown)), length: 150)
      = link_to @bulletin_today, class: 'card-link' do
        Read more
        = fa_icon 'chevron-right'
