.card.mb-3
  .card-header.bg-syosset.text-white= t('links.title')
  %ul.list-group.list-group-flush
    %li.list-group-item
      %a{:href => "https://ic.syosset.k12.ny.us/"}
        = fa_icon 'university'
        = t('links.default.portal')
    %li.list-group-item
      %a{:href => "https://portal.office.com/"}
        = fa_icon 'envelope'
        = t('links.default.email')
    %li.list-group-item
      %a{:href => "http://www.syossetschools.org/Calendar/Default.aspx?period=monthgrid"}
        = fa_icon 'calendar'
        = t('links.default.calendar')
    - @links.each do |link|
      %li.list-group-item
        = link_to link[:target] do
          = fa_icon (link.icon.nil? ? 'link' : link.icon.gsub('fa-', ''))
          = link.name
