%section.links
  %h1.section-heading.text-highlight
    %span.line
      = link_to t('links.title'), links_path
      %small
        = link_to links_path do
          = fa_icon 'ellipsis-v'
          = t('links.see_more')
  .section-content
    %p
      %a{:href => "https://ic.syosset.k12.ny.us/"}
        = fa_icon 'institution'
        = t('links.default.portal')
    %p
      %a{:href => "https://portal.office.com/"}
        = fa_icon 'envelope'
        = t('links.default.email')
    %p
      %a{:href => "http://www.syossetschools.org/Calendar/Default.aspx?period=monthgrid"}
        = fa_icon 'calendar'
        = t('links.default.calendar')
    - @links.each do |link|
      %p
        = link_to link[:target] do
          = fa_icon (link.icon.nil? ? "link" : link.icon.gsub('fa-', '')) # TODO: Don't store icons in DB prefixed with fa-
          = link.name
