.flexslider.mb-5
  %ul.slides
    - unless @active_promotions.empty?
      - @active_promotions.each do |promotion|
        %li
          .card
            %img.card-img{src: promotion.picture.url(:large)}
            .card-img-overlay
              = link_to promotion_path(promotion), class: 'text-white' do
                %h1= promotion.text.upcase
                - unless promotion.markdown.empty?
                  = link_to promotion_path(promotion), class: 'btn btn-outline-light' do
                    = t('promotions.show')
                    = fa_icon 'chevron-right'

    - else
      .d-flex.justify-content-center.p-5.mt-5
        = link_to promotions_path, class: 'btn btn-warning' do
          = fa_icon 'exclamation-triangle'
          = t('promotions.none')
