.slider.flexslider#promo-slider
  %ul.slides
    - unless @active_promotions.empty?
      - @active_promotions.each do |promotion|
        %li
          .super-hero-unit
            %figure
              %img.center-block.img-responsive{src: promotion.picture.url(:large)}
              %figcaption.flex-caption
                = link_to promotion_path(promotion) do
                  %h1.super
                    %b= promotion.text.upcase
                  - unless promotion.blurb.empty?
                    .cta
                      = t('promotions.show')
                      = fa_icon 'arrow-circle-o-right'
    - else
      = link_to t('promotions.none'), promotions_path, class: 'btn btn-warning'
