= content_for :description, t('welcome.home.description')

.row.mt-3
  .col-md-8.d-flex.flex-column
    = render 'slider'
    = render 'announcements'
  .col.d-flex.flex-column
    = render 'bulletin'
    = render 'quicklinks'
