= content_for :body_class, "home-page" # College Green theme
= content_for :description, t('welcome.home.description')

.row
  .col-md-9
    = render "slider"
    .hidden-xs
      = render "announcements"
  .col-md-3
    = render "bulletin"
    = render "quicklinks"
.row
  .col-md-9
    .hidden-sm.hidden-md.hidden-lg
      = render "announcements"
