= errors_for(@promotion)
= javascript_include_tag "markdown"

= form_for @promotion do |f|
  .form-group
    = f.label :picture
    = f.file_field :picture, class: "form-control"
  .form-group
    = f.label :enabled
    = f.check_box :enabled
  .form-group
    = f.label :text
    = f.text_field :text, placeholder: "Text", class: "form-control"
  .form-group
    = f.label :blurb
    ~ f.text_area :blurb, placeholder: "Describe the content here", class: "form-control markdown"

  = f.submit "Save", class: "btn btn-success pull-right", id: "submit-button"