.page-wrapper
  %header.page-heading
    %h1.heading-title Promotions
    = link_to "Create", new_promotion_path, class: "btn btn-primary pull-right"
  .page-content
    %table.table
      %tbody.rankable
        - @promotions.each do |promotion|
          = content_tag_for(:tr, promotion, class: "promotion-preview#{promotion.enabled ? '' : ' disabled'}") do
            %td
              %i.handle.fa.fa-sort{"aria-hidden" => "true"}
              = link_to edit_promotion_path(promotion) do
                %i.fa.fa-pencil
            %td
              = image_tag promotion.picture.url
            %td
              - unless promotion.enabled
                %span.label.label-warning Hidden
              = link_to promotion.text, edit_promotion_path(promotion)