= javascript_include_tag 'markdown'

= form_for @closure do |f|
  .form-group
    = f.label :start_date
    = f.date_select :start_date, {}, class: 'form-control'
  .form-group
    = f.label :end_date
    = f.date_select :end_date, {}, class: 'form-control'
  .form-group
    = f.label :type, 'Type'
    = f.select :type, ['none', 'snow'], {}, class: 'form-control'
  .form-group
    = f.label :markdown
    = f.text_area :markdown, placeholder: 'Content', rows: 2, class: 'form-control markdown'

  = f.submit 'Save', class: 'btn btn-success'
