.d-flex.justify-content-between
  %h1
    Closure
    - if @closure.start_date == @closure.end_date
      on
      = @closure.start_date.strftime("%B %-d %Y")
    - else
      from
      = @closure.start_date.strftime("%B %-d %Y")
      to
      = @closure.end_date.strftime("%B %-d %Y")
  = render partial: 'partials/modtools', locals: {actions: @actions}

%p= @markdown.render(@closure.markdown).html_safe
