= form_for [:admin, @department, @course] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, placeholder: "Name", class: "form-control"
  .form-group
    = f.label :course_id
    = f.text_field :course_id, placeholder: "Course ID", class: "form-control"
  .form-group
    = f.label :short_description
    = f.text_field :short_description, placeholder: "Short Description", class: "form-control"
  .form-group
    = f.label :content
    = f.text_area :content, placeholder: "Content", rows: 10, class: "form-control"
  = f.submit "Save", class: "btn btn-success pull-right", id: "submit-button"
