!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if Current.user&.staff?
      = javascript_include_tag 'support', 'data-turbolinks-track': 'reload'

    %link{rel: "apple-touch-icon", sizes: "60x60", href: asset_path("touch-icon.png")}
    %link{rel: "apple-touch-icon", sizes: "120x120", href: asset_path("touch-icon@2x.png")}
    %link{rel: "apple-touch-icon", sizes: "180x180", href: asset_path("touch-icon@3x.png")}
    %link{rel: "apple-touch-startup-image", href: asset_path("launch.png")}
    %meta{name: "apple-mobile-web-app-title", content: "SHS"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}

    %meta{name: "viewport", content: "width=device-width", "initial-scale" => 1.0}

    %title= content_for?(:title) ? "#{yield(:title)} at #{t('name.full')}" : t('name.full')
    - if content_for?(:meta)
      = yield(:meta)
    - if content_for?(:description)
      %meta{name: "description", content: yield(:description)}
  %body{"data-no-turbolink" => yield(:disable_turbolinks), "data-model-name" => yield(:model_name), "data-current-user-id" => Current.user&.id, "data-params-id" => (params[:id] || yield(:model_id)) }
    %a.skip.screen-reader-text{:href => "#content"} Skip to content
    -# if Current.user&.staff? TEMPORARILY DISABLED
      %div#support{"data-turbolinks-permanent" => true}
        = render 'partials/chat/chat_button'
        = render 'partials/chat/chat'
    .wrapper
      - unless params[:controller] == 'welcome/landing' || Current.user&.admin_enabled?
        = render 'partials/header'
      = render 'partials/navbar'
      = render 'peek/bar'
      #content.container.mt-3
        = render 'partials/flash'
        = yield
    = render 'partials/footer'
